@model PatelWorld_API.Models.Fieldfilter
@{
    ViewData["Title"] = "FormField";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-12 col-12">
            <div class="row align-items-end">
                <div class="col-md-12 text-right">
                    <div class="Visitor-Desk-code-area text-end mb-10">
                        <div class="Addvisitors ml-1">
                            <a href="/Field/AddField" class="softo-solid-btn" data-toggle="tooltip" title="" data-original-title="Add Department">
                                Add Field
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <section class="row all-contacts">
            <div class="col-12">
                <div class="Dashboard-box">
                    <div class="Dashboard-header">
                        <div class="d-flex align-items-center">
                            <h3 class="fs_16 fw_6 card-title-text"><span id="totalRecords">0</span> Total Records</h3>
                           
                        </div>

                    </div>
                    <div class="box-datatable visitor-desk-table">
                        <table id="Field-table" class="datatables data-tables-filters display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Datatype</th>
                                    <th>Description</th>
                                    <th class="table-action">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.List != null && ViewBag.List.Count > 0)
                                {
                                    @foreach (var item in ViewBag.List)
                                    {

                                        <tr>
                                            <td>@item.Name </td>
                                            <td>@item.Datatype</td>

                                            @{
                                                string Msg = "";
                                                if (item.Description != null)
                                                {
                                                    if (item.Description.Length >= 50)
                                                    {

                                                        Msg = item.Description.Substring(0, 50) + "...";

                                                    }
                                                    else
                                                    {
                                                        Msg = item.Description;
                                                    }
                                                }

                                            }
                                            <td>@Msg</td>
                                            <td>
                                          
                                                    <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit">
                                                    <a href="/Field/AddField?Id=@item.Id" class="btn btn-sm btn-icon mr-1 float-left btn-info">      <i class="la la-ban"></i> </a>
                                                    </span>
                                                   
                                      
                                                    <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete">
                                                    <a onclick="DeleteItemConfirm(@item.Id)" class="btn btn-sm btn-icon mr-1 float-left btn-danger" data-toggle="modal" data-target="#delete" title="Delete" s>
                                                        <i class="la la-trash-o"></i>
                                                    </a>
                                                    </span>
                                                    
                                                
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4" class="text-center">No Record Found</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="modal fade" id="delete">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Field</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input type="hidden" id="deleteId" />
                <div class="text-center">
                    <h4>Are you sure you want to delete?</h4>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="add-balance-btn text-right">
                    <a href="javascript:void(0)" class="softo-solid-btn softo-solid-btn-cancel" data-dismiss="modal">Cancel</a>
                    <a href="javascript:void(0)" onclick="DeleteItem()" id="btnDelete" class="softo-solid-btn ml-10">Delete</a>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/custom/field.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if (!$.fn.DataTable.isDataTable('#Field-table')) {
                table = $('#Field-table').dataTable({
                    'responsive': true,
                    "paging": true,
                    "ordering": true,
                    "info": true,
                    "scroller": true,
                    "select": true,
                });
            }
        });
    </script>
}